*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
.DS_Store
/Manifest.toml
/dev/
deps/build.log
deps/src/
.ipynb_checkpoints/
notebook/profile_results.svg
docs/build/
docs/src/index.md
.vscode/settings.json
docs/Manifest.toml
